@page
@model Université.Pages.Enseignement.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<a asp-page="./Create" asp-route-id="@Model.EnseignantID">Associer une nouvelle UE</a> </p>
<p> <a asp-page="../Enseignants/Details" asp-route-id="@Model.EnseignantID">Retour à l'enseignant</a> </p>
<h4>UEs enseignées par @Html.DisplayFor(model=>Model.Enseignant.Nom) @Html.DisplayFor(model=>Model.Enseignant.Prenom)</h4>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Enseigner[0].LUE)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Enseigner)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.LUE.Intitule)
                </td>
                <td>
                    <a asp-page="./Edit" asp-route-id="@item.ID">Edit</a> |
                    <a asp-page="./Details" asp-route-id="@item.ID">Details</a> |
                    <a asp-page="./Delete" asp-route-id="@item.ID">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
