@page
@model Université.Pages.Formations.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Formation</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Formation.Intitule)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Formation.Intitule)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Formation.AnneDiplome)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Formation.AnneDiplome)
        </dd>
    </dl>
</div>

@if (Model.Formation.UEProposee.Count > 0)
{
    <h4>Les UEs de la formation</h4>
    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Formation.UEProposee.First().Numero)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Formation.UEProposee.First().Intitule)
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.Formation.UEProposee)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Numero)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Intitule)
                    </td>
                </tr>
            }
        </tbody>
    </table>
}

@if (Model.Formation.EtudiantsInscrits.Count > 0)
{
    <h4>Les étudiants de la formation</h4>
    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Formation.EtudiantsInscrits.First().NumeroEtudiant)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Formation.EtudiantsInscrits.First().Nom)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Formation.EtudiantsInscrits.First().Prenom)
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.Formation.EtudiantsInscrits)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.NumeroEtudiant)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Nom)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Prenom)
                    </td>
                </tr>
            }
        </tbody>
    </table>
}


<div>
    <a asp-page="./Edit" asp-route-id="@Model.Formation.ID">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>
